/*===LAYOUT===*/
.message {
    position: fixed;
    bottom: 3em;
}

.log {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0.5em;
    font-size: 1.6em;
    line-height: 1.2em;
}

.log p {
    margin: 0;
}

/*===TITLE===*/
h1 {
    font: 700 4.5em/1.2em 'PT Serif';
    margin: 0;
    margin-bottom: 1em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

h2 {
    font: 400 3em/1.2em 'PT Serif';
    margin: 0;
    margin-bottom: 0.5em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

/*===TITLE COLORS===*/
html.batman.bad h1 {
    color: #ffefc1;
}

html.batman.bad h2 {
    color: #F8E0EC;
}

html.batman.bad .log {
    background: url(http://api.thumbr.it/whitenoise-361x370.png?background=100729ff&noise=626262&density=44&opacity=27);
    color: #F8E0EC;
}

/*===BACKGROUNDS===*/
html {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html.batman.good {
    background-image: url(images/batman.jpg);
}

html.batman.bad {
    background-image: url(images/joker.jpg);
}

html.lotr.good {
    background-image: url(images/gandalf.jpg);
}

html.lotr.bad {
    background-image: url(images/sauron.jpg);
}
